{% extends "base_templates/profile_template.html" %}

{% block links %}
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('profile.static',filename='css/profile.css')}}" />
{% endblock %}

{% block title %} User Profile {% endblock %}

{% block main %}
<div class="main-content">
  <!-- Top navbar -->

  <!-- Header -->
  <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>
    <!-- Header container -->

  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-4 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="#">
                  <img class="card-img-top"
                    src="{{ url_for('static', filename='dmitry-chernyshov-mP7aPSUm7aE-unsplash.jpg' ) }}"
                    alt="Card image cap" style="height: 200px; width: 200px; border-radius: 50%;">
                </a>
              </div>
            </div>
          </div>
          <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
            <div class="d-flex justify-content-between">
              <a href="#" class="btn btn-sm btn-info mr-4">Connect</a>
              <a href="#" class="btn btn-sm btn-default float-right">Message</a>
            </div>
          </div>
          <div class="card-body pt-0 pt-md-4">
            <div class="row">
              <div class="col">
                <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                  <div>
                    <span class="heading">22</span>
                    <span class="description">Articles</span>
                  </div>
                  <div>
                    <span class="heading">10</span>
                    <span class="description">Projects</span>
                  </div>
                  <div>
                    <span class="heading">89</span>
                    <span class="description">Likes</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <h3>
                {{ user['first name'] }} {{ user['last name'] }}
              </h3>
              <div class="h5 font-weight-300">
                <i class="ni location_pin mr-2" style="padding-right: 20px;">
                  <a href="https://github.com/{{ user['github'] }}/" target="_blank">
                    <img class="card-img-top" src="{{ url_for('static', filename='./icons/github.svg' ) }}"
                      alt="Github Icon" style="height: 20px; width: 20px;">
                  </a>
                </i>
                <i class="ni location_pin mr-2">
                  <a href="https://www.linkedin.com/in/{{ user['linkedin'] }}/" target="_blank">
                    <img class="card-img-top" src="{{ url_for('static', filename='./icons/linkedin.svg' ) }}"
                      alt="Linkedin Icon" style="height: 20px; width: 20px;">
                  </a>
                </i>
              </div>
              <div class="h5 mt-4">
                <i class="ni business_briefcase-24 mr-2"></i>{{ user['occupation'] }}
              </div>
              <div>
                <i class="ni education_hat mr-2"></i>{{ user['company'] }}
              </div>
              <hr class="my-4">
              <p>{{ user['about_me'] }}</p>
              <a href="#">Show more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8 ">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">My account</h3>
              </div>
              <div class="col-4 text-right">
                <a href="{{ url_for('blog.my_blogs') }}" class="btn btn-sm btn-primary">Articles</a>
              </div>
            </div>
          </div>
          <div class="card-body">

            <!-- ############################ USER INFO FORM #########################-->
            <form action="{{url_for('profile.user_profile')}}" method="POST">
              <h6 class="heading-small text-muted mb-4">Personal Information</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="username">Username</label>
                      <span class="form-control form-control-alternative">{{ user['username'] }}</span>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="email">Email address</label>
                      <span class="form-control form-control-alternative">{{ user['email'] }}</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="first_name">First name</label>
                      <input type="text" id="first_name" name="first_name" class="form-control form-control-alternative"
                        placeholder="First name" value="{{ user['first name'] }}">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="last_name">Last name</label>
                      <input type="text" id="last_name" name="last_name" class="form-control form-control-alternative"
                        placeholder="Last name" value="{{ user['last name'] }}">
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4">

              <!-- Description -->
              <h6 class="heading-small text-muted mb-4">Professional Information</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group focused">
                      <label class="form-control-label" for="occupation">Occupation</label>
                      <input type="text" id="occupation" name="occupation" class="form-control form-control-alternative"
                        placeholder="Occupation" value="{{ user['occupation'] }}">
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group focused">
                      <label class="form-control-label" for="company">Company/College</label>
                      <input type="text" id="company" name="company" class="form-control form-control-alternative"
                        placeholder="Company/College" value="{{ user['company'] }}">
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group focused">
                      <label class="form-control-label" for="country">Country</label>
                      <input type="text" id="country" name="country" class="form-control form-control-alternative"
                        placeholder="Country" value="{{ user['country'] }}">
                    </div>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-lg-6 my-1">
                    <div class="form-group">
                      <label class="form-control-label" for="github">GitHub</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text" style="background-color: #e9ecef; color: #495057;">https://www.github.com/</div>
                        </div>
                        <input type="text" class="form-control p-3" id="github" name="github"
                          placeholder=" username" value="{{ user['github'] }}">
                      </div>
                    </div>
                  </div>
                
                  <div class="col-lg-6 my-1">
                    <div class="form-group">
                      <label class="form-control-label" for="linkedin">LinkedIn</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text" style="background-color: #e9ecef; color: #495057;">https://www.linkedin.com/in/</div>
                        </div>
                        <input type="text" class="form-control p-3" id="linkedin" name="linkedin"
                          placeholder=" user-name-000000000" value="{{ user['linkedin'] }}">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group focused">
                  <label class="form-control-label">Skills</label>
                  <div class="row">
                    <div class="col-lg-12 col-md-auto">
                      <select name="skills" class="selectize-control form-control-alternative" placeholder="Choose some skills" id="search" multiple="multiple">
                        
                        {% for skill in user['skills'] %}
                        <option value="{{ skill }}" selected>{{ skill }}</option>
                        {% endfor %}
                        <!-- <option value="back-end">Back-End</option>
                        <option value="designer">Designer</option>
                        <option value="ruby">Ruby</option>
                        <option value="javascript">JavaScript</option>
                        <option value="python">Python</option>
                        <option value="developer">Developer</option>
                        <option value="wordpress">WordPress</option>
                        <option value="php">PHP</option>
                        <option value="html">HTML</option>
                        <option value="css">CSS</option>
                        <option value="jquery">JQuery</option>
                        <option value="ember">Ember</option>
                        <option value="angular">Angular</option>
                        <option value="react">React</option>
                        <option value="ios">iOS</option>
                        <option value="android">Android</option>
                        <option value="java">Java</option>
                        <option value="git">Git</option>
                        <option value="sass">Sass</option>
                        <option value="engineer">Engineer</option> -->
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group focused">
                  <label class="form-control-label">About Me</label>
                  <textarea rows="4" id="about_me" name="about_me" class="form-control form-control-alternative"
                    placeholder="A few words about you ..."
                    value="{{ user['about_me'] }}">{{ user['about_me'] }}</textarea>
                </div>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-primary">Edit Profile</button>
              </div>
            </form>
            <!-- ############### END FORM ############## -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6 m-auto text-center">
      <div class="copyright">
        <small>Developed by <a href="https://github.com/Shounak-Pattewale/" target="_blank">Shounak</a> and <a
            href="https://github.com/taha20181" target="_blank">Taha</a></small>
      </div>
    </div>
  </div>
</footer>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='./js/selectize.js' ) }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/selectize.css' ) }}" />
<script>
  $(function () {
    $('select').selectize({
      delimiter: ',',
      persist: false,
      create: function (input) {
        return {
          value: input,
          text: input
        }
      }
    });
  });
</script>
{% endblock%}