{% extends "base_templates/profile_template.html" %}

{% block title %}Profile{% endblock %}

{% block main %}

<div class="container p-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card p-5">
        <div class="row">
          <div class="col-md-4">
            <div class="card" style="height: 17rem; border-radius: 50%;">
              <img src="" alt="Profile Photo">
            </div>
          </div>
          <div class="col-md-8">
            <div class="card p-3">
              <div class="body">
                <h2>{{ user['first name'] }} {{ user['last name'] }}</h2>
                <h5>{{ user['username'] }}</h5>
                <p>User since - <strong>{{ user['account created'] }}</strong></p>
                <p>{{ user['email'] }}</p>
                <p>{{ user['course'] }} - {{ user['year'] }}</p>
                <p>{{ user['branch'] }} - {{ user['spec'] }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="card col-md-4 m-2" style="width: 15rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card col-md-4 m-2" style="width: 15rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>


{% endblock %}