{% extends 'base_templates/profile_template.html' %}

{% block main %}

<div class="container">
    <h1>Publish an Article</h1>
    <hr>
    &nbsp;
    <form action="blog/create" method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" class="form-control">
        </div>
        <div class="form-group">
            <label for="image">Image</label>
            <br>
            <input type="file" name="image" id="image" class="" accept=".jpg, .png, .jpeg, .JPG, .JPEG, .PNG">
        </div>
        <div class="form-group">
            <label for="domain">Domain</label>
            <select name="domain" id="domain" class="form-control">
                <option value="">Select</option>
                <option value="">Artificial Intelligence</option>
                <option value="">Cyber Security</option>
                <option value="">Blockchain</option>
                <option value="">Cloud Computing</option>
                <option value="">Machine Learning</option>
            </select>
        </div>
        <div class="form-group">
            <label for="body">Body</label>
            <textarea name="body" id="body" cols="30" rows="10" class="form-control"></textarea>
        </div>

        <button type="submit" class="btn btn-outline-primary">Publish</button>
    </form>
</div>


{% endblock %}