{% extends 'base_templates/profile_template.html' %}

{% block main %}

<div class="container p-5">
    <h1>My Articles</h1>
    <hr>
    &nbsp;
    {% for i in articles %}
    <div class="container">
        <div class="row">
          <div class="card col-md-12 m-2">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <a href="{{ url_for('blog.viewfull', id=i._id) }}" class="card-body" style="text-decoration: none; color: black;">
              <h5 class="card-title">{{ i['title'] }}</h5>
              <p class="card-text">{{ i['body'][:350] }}</p>
              <h6>Author : {{ i['author'] }}</h6>
              <br>
              <p>
                Date : {{ i['datetime']['date'] }}
                <br>
                Time : {{ i['datetime']['time'] }}
              </p>
              <hr>
              <div class="row justify-content-around">
                <div class="col-md-2">
                    <a href="{{ url_for('blog.viewfull', id=i._id) }}" class="btn btn-outline-primary">View Full</a>
                </div>
                <div class="col-md-2">
                    <a href="{{ url_for('blog.update', id=i._id) }}" class="btn btn-outline-warning">Update</a>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
</div>


{% endblock %}