<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!-- Custon CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />
    {% block links %}{% endblock %}
    <title>{% block title %} {% endblock %} | Digi-Magazine</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Digital Magazine</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" style="padding-left: 2rem;">
                    <a class="nav-link" href="{{ url_for('profile.index') }}">Home</a>
                </li>
                <li class="nav-item" style="padding-left: 2rem;">
                    <a class="nav-link" href="/blog">Articles</a>
                </li>
                {% if session['USERNAME'] %}
                <li class="nav-item" style="padding-left: 2rem;">
                    <a class="nav-link" href="/blog/create">Write an Article?</a>
                </li>
                <li class="nav-item" style="padding-left: 2rem;">
                    <a class="nav-link" href="/project">Got a Project to show?</a>
                </li>
                {% else %}
                <li class="nav-item" style="padding-left: 2rem;">
                    <a class="nav-link" href="/login">Write an Article?</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if session['USERNAME'] %}
                <li class="nav-item" style="padding-right: 2rem;">
                    <a class="nav-link" href="/userprofile">Profile<i class="bi bi-person-circle ml-2 mb-1"></i></a>
                </li>
                <li class="nav-item" style="padding-right: 2rem;">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                {% else %}
                <li class="nav-item" style="padding-right: 2rem;">
                    <a class="nav-link" href="/signup">Sign In</a>
                </li>
                <li class="nav-item" style="padding-right: 2rem;">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>

    </nav>

    <main>{% block main %}{% endblock %}</main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="{{url_for('static',filename='js/app.js')}}"></script>
    
    {% block script %}{% endblock %}
    
</body>

</html>