{% extends "base_templates/public_template.html" %}

{% block title %}Sign up{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Sign up</h1>
      <hr>

      {% with messages = get_flashed_messages() %}
      {% for message in messages %}
      <small>{{ message }}</small>
      {% endfor %}
      {% endwith %}
      <form action="/signup" method="POST">

        <div class="form-group">
          <label>First Name</label>
          <input type="text" class="form-control" id="fname" name="fname" placeholder="" required>
        </div>

        <div class="form-group">
          <label>Last Name</label>
          <input type="text" class="form-control" id="lname" name="lname" placeholder="" required>
        </div>

        <!-- <div class="form-group">
          <label>Upload Picture</label>
          <input type="file" accept=".jpg, .png, .jpeg, .JPG, .JPEG, .PNG" class="" id="picture" name="picture" placeholder="" >
        </div> -->

        <div class="form-group">
          <label for="gender">Gender</label>
          <br>
          <input type="radio" name="gender" id="male" value="Male">
          <label for="">Male</label>
          <br>
          <input type="radio" name="gender" id="female" value="Female">
          <label for="">Female</label>
        </div>

        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
        </div>

        <div class="form-group">
          <label>Mobile No.</label>
          <input type="text" class="form-control" id="mobile" name="mobile" placeholder="" required>
        </div>

        <div class="form-group">
          <label>Username</label>
          <input type="text" class="form-control" id="username" name="username" placeholder="Select a username" required>
        </div>

        <div class="form-group">
          <label for="course">Course</label>
          <select name="course" id="course" required class="form-control">
            <option value="" disabled selected>Select</option>
            <option value="B.Tech">B.Tech</option>
            <option value="M.Tech">M.Tech</option>
            <option value="Integrated">Integrated</option>
          </select>
        </div>

        <div class="form-group">
          <label for="year">Year</label>
          <select name="year" id="year" required class="form-control">
            <option value="" disabled selected>Select</option>
            <option value="FY">First Year</option>
            <option value="SY">Second Year</option>
            <option value="TY">Third Year</option>
            <option value="LY">Final Year</option>
          </select>
        </div>

        <div class="form-group">
          <label for="branch">Branch</label>
          <select name="branch" id="branch" required class="form-control">
            <option value="" disabled selected>Select</option>
            <option value="Aerospace">AeroSpace</option>
            <option value="Civil">Civil</option>
            <option value="Computer Science">Computer Science</option>
            <option value="Electronics">Electronics</option>
            <option value="Information Technology">Information Technology</option>
          </select>
        </div>

        <div class="form-group">
          <label for="spec">Specialization</label>
          <input type="text" name="spec" id="spec" required class="form-control">
        </div>

        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="" >
        </div>

        <div class="form-group">
          <label>Confirm Password</label>
          <input type="password" class="form-control" id="cpassw" name="cpassw" placeholder="" >
        </div>

        <button type="submit" class="btn btn-primary">Sign up</button>

        {% if feedback %}
        <p class="text-danger float-right">{{ feedback }}</p>
        {% endif %}

      </form>
    </div>
  </div>
</div>

{% endblock %}